<head>
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
  
    {% if page.title %}
    <title>{{ page.title }} • {{ site.title }}</title>
{% else %}
    <title>{{ site.title }}</title>
{% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" href="/assets/32.png" sizes="32x32">
  <link rel="icon" href="/assets/192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" sizes="180x180">

  </head>
